<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ucsd</title>
    <link rel="icon" href="/public/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container nav-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class style="color:#fff;"="fa fa-bars"></i>
                    <span class="glyphicon glyphicon-menu-hamburger navbar-ham" aria-hidden="true"></span>
                </button>
                <p class="nav-phone">Text/Call 805-806-0305</p>
                <h1 class="navbar-brand">
                    Badass Tutors
                </h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav text-center">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li style="padding-left:5px; padding-right: 5px;">
                        <a class="page-scroll nav-item" href="/">HOME</a>
                    </li>
                    <li style="padding-left:5px; padding-right: 5px;">
                        <a class="page-scroll nav-item" href="/tutors">TUTORS</a>
                    </li>
                    <li style="padding-left:5px; padding-right: 5px;">
                        <a class="page-scroll nav-item" href="/buy">BUY HOURS</a>
                    </li>
                    <li style="padding-left:5px; padding-right: 5px;">
                        <a class="page-scroll nav-item" href="/reviews">REVIEWS</a>
                    </li>
                    <li style="padding-left:5px; padding-right: 5px;">
                        <a class="page-scroll nav-item" href="/Book">BOOK</a>
                    </li>
                    <li style="padding-left:5px; padding-right: 5px;">
                        <a class="page-scroll nav-item" href="/checkout">CART</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Pump up -->
    <section class="primary-section text-center">
      <div class="container top-container">
        <div class="row">
          <h1>University of California, San Diego</h1>
          <div class="col-sm-12 text-left">
            <p>
              The University of California, San Diego is a public research university located in the La Jolla neighborhood of San Diego, California, in the United States. The university occupies 2,141 acres (866 ha) near the coast of the Pacific Ocean with the main campus resting on approximately 1,152 acres (466 ha). Established in 1960 near the pre-existing Scripps Institution of Oceanography, UC San Diego is the seventh oldest of the 10 University of California campuses and offers over 200 undergraduate and graduate degree programs, enrolling about 28,000 undergraduate and 7,000 graduate students.
            </p>
            <p>
              UC San Diego is organized into six undergraduate residential colleges (Revelle, John Muir, Thurgood Marshall, Earl Warren, Eleanor Roosevelt and Sixth), five academic divisions (Arts and Humanities, Biological Sciences, Jacobs School of Engineering, Physical Sciences and Social Sciences), and five graduate and professional schools (Rady School of Management, Scripps Institution of Oceanography, School of Global Policy and Strategy, UC San Diego School of Medicine and Skaggs School of Pharmacy and Pharmaceutical Sciences). UC San Diego Health, the region’s only academic health system, provides patient care, conducts medical research and educates future health care professionals at the UC San Diego Medical Center, Hillcrest and Jacobs Medical Center.
            	ucsd	tutoring,
	ucsc	success center,
	ucsd	academic advice,
tutoring for	ucsd	students,
	ucsd	campus,
	ucsd	library hours,
	ucsd	Math,  
	ucsd	student tutor,
	ucsd	campus tutoring,
	ucsd	student center,
gwr	ucsd	math help,  
	ucsd	math tutor,
	ucsd	peer tutor.
</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Buy hours and Footer -->
    <section id="footer">
      <div class="row text-center center-block buy-hours vcenter-md footer-row">
        <div class="col-md-3">
          <a class="buy-hours-font text-center" href="/buy"> BUY HOURS </a>
        </div>
        <div class="col-md-3 footer-col-stack-padding">
          <button type="button" class="btn btn-danger btn-lg btn-bad btn-block">16 HOURS GUARANTEED ABC</button>
        </div>
        <div class="col-md-3 footer-col-stack-padding">
          <button type="button" class="btn btn-danger btn-lg btn-bad btn-block">24 HOURS GUARANTEED AB</button>
        </div>
        <div class="col-md-3 footer-col-stack-padding">
          <button type="button" class="btn btn-danger btn-lg btn-bad btn-block">ALL PACKAGES</button>
        </div>
      </div>
      <div class="container green-background">
        <div class="row row-thin footer-row footer-copyright">
          <div class="col-sm-6 moble-footer">
            <p class="copyright mobile-no-padding">&copy 2018 Badass Tutors. All Rights Reserved.</p>
          </div>
          <div class="col-sm-6 text-right moble-footer mobile-padding">
              <a href="/subjects" class="footer-link">Subjects</a> | <a href="/guarantee" class="footer-link">Guarantee</a> | <a href="/contact" class="footer-link">Contact</a> | <a href="/tos" class="footer-link">Terms of Use</a>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-12 text-center">
              <a href="/schools/calpoly-pomona" class="footer-link">Cal Poly Pomona</a> |
<a href="/schools/calpoly" class="footer-link">Cal Poly SLO</a> |
<a href="/schools/CSUB" class="footer-link">CSUB</a> |
<a href="/schools/CSUC" class="footer-link">CSUC</a> |
<a href="/schools/CSUCI" class="footer-link">CSUCI</a> |
<a href="/schools/CSUDH" class="footer-link">CSUDH</a> |
<a href="/schools/CSUEB" class="footer-link">CSUEB</a> |
<a href="/schools/CSUFRESNO" class="footer-link">CSU FRESNO</a> |
<a href="/schools/CSUFULLERTON" class="footer-link">CSU FULLERTON</a> |
<a href="/schools/CSULA" class="footer-link">CSULA</a> |
<a href="/schools/CSULB" class="footer-link">CSULB</a> |
<a href="/schools/CSUMB" class="footer-link">CSUMB</a> |
<a href="/schools/CSUN" class="footer-link">CSUN</a> |
<a href="/schools/CSUS" class="footer-link">CSUS</a> |
<a href="/schools/CSUSB" class="footer-link">CSUSB</a> |
<a href="/schools/CSUSM" class="footer-link">CSUSM</a> |
<a href="/schools/HSU" class="footer-link">HSU</a> |
<a href="/schools/SBCC" class="footer-link">SBCC</a> |
<a href="/schools/SDSU" class="footer-link">SDSU</a> |
<a href="/schools/SSU" class="footer-link">SSU</a> |
<a href="/schools/STANISLAUSSTATE" class="footer-link">STANISLAUS STATE</a> |
<a href="/schools/UCB" class="footer-link">UCB</a> |
<a href="/schools/UCD" class="footer-link">UCD</a> |
<a href="/schools/UCI" class="footer-link">UCI</a> |
<a href="/schools/UCLA" class="footer-link">UCLA</a> |
<a href="/schools/UCM" class="footer-link">UCM</a> |
<a href="/schools/UCR" class="footer-link">UCR</a> |
<a href="/schools/UCSB" class="footer-link">UCSB</a> |
<a href="/schools/UCSC" class="footer-link">UCSC</a> |
<a href="/schools/UCSD" class="footer-link">UCSD</a> |
<a href="/schools/UCSF" class="footer-link">UCSF</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Google Analytics -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-104310445-1', 'auto');
			ga('send', 'pageview');
		</script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
