<!DOCTYPE html>
<html lang="en" ng-app="badassTutorsCheckout">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test prep</title>
    <link rel="icon" href="./public/favicon.ico">\
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/subjects.css">
    <!-- SPELLS -->
    <script src="/public/javascripts/jquery.min.js"></script><!-- load jquery -->
    <script src="/public/javascripts/angular.min.js"></script>
    <script src="/public/javascripts/angular-cookies.min.js"></script>
    <script src="/public/angular/tutorBuy.js"></script>
  </head>
  <body ng-controller="mainController">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container nav-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class style="color:#fff;"="fa fa-bars"></i>
                    <span class="glyphicon glyphicon-menu-hamburger navbar-ham" aria-hidden="true"></span>
                </button>
                <p class="nav-phone">Text/Call 805-806-0305</p>
                <h1 class="navbar-brand">
                    Badass Tutors
                </h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav text-center">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item" href="/">HOME</a>
                    </li>
                    <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item" href="/tutors">TUTORS</a>
                    </li>
                    <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item" href="/buy">BUY HOURS</a>
                    </li>
                    <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item" href="/reviews">REVIEWS</a>
                    </li>
                    <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item" href="/Book">BOOK</a>
                    </li>
                    <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item" href="/checkout">CART</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- How to Get Started -->
    <section class="primary-section text-center">
        <div class="container top-container">

          <div class="row">
            <h1>Test Prep</h1>
            <h3 class="subjectDescription">Test preparation (abbreviated test prep) or exam preparation is an educational course, tutoring service, 
			educational material, or a learning tool designed to increase students' performance on standardized tests. Examples of these tests include 
			entrance examinations used for admissions to institutions of higher education, such as college (e.g. the SAT and ACT), business school 
			(the GMAT), law school (the LSAT or LNAT), medical school (the MCAT), BMAT, UKCAT and GAMSAT and graduate school (the GRE) and qualifying 
			examinations for admission to gifted education programs. high school test prep tutoring, college test prep tutoring, test anxiety, blanking out on tests help, 
			test preparation, study skills tutoring, standardized test prep, peer tutoring, online tutoring. </h3>
          </div>
          <div class="row align-items-center justify-content-center">
              <a type="button" class="btn btn-lg btn-danger subjectButton" href="/tutors" aria-hidden="true"> Find a Tutor Now </a>
          </div>
        </div>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 moble-footer">
          <p class="copyright">&copy 2018 Badass Tutors. All Rights Reserved.</p>
        </div>
        <div class="col-sm-6 text-right moble-footer">
            <a href="/schools/calpoly" class="footer-link">Cal Poly</a> | <a href="/subjects" class="footer-link">Subjects</a> | <a href="/guarantee" class="footer-link">Guarantee</a> | <a href="/contact" class="footer-link">Contact</a> | <a href="/tos" class="footer-link">Terms of Use</a>
        </div>
      </div>
    </div>
    <!-- Google Analytics -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-104310445-1', 'auto');
			ga('send', 'pageview');
		</script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
