<!DOCTYPE html>
<html lang="en" ng-app="badassTutors">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>historical</title>
    <link rel="icon" href="/public/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/public/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/apply.css">
    <link rel="stylesheet" href="/public/stylesheets/customCheckToggle.css">

    <!-- SPELLS -->
    <script src="/public/javascripts/jquery.min.js"></script><!-- load jquery -->
    <script src="/public/javascripts/angular.min.js"></script><!-- load angular js 1.0.8 -->

    <!-- Angular App -->
    <script src="/public/angular/tutor/tutorHistorical.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>

  <body ng-controller="mainController">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class style="color:#fff;"="fa fa-bars"></i>
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </button>
                <h1 class="navbar-brand adminNav">
                    Badass Tutors
                </h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item" href="./tutoring">TUTORING</a>
                    </li>
                    <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item active-nav" href="./historical">HISTORICAL</a>
                    </li>
                    <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item" href="./profile">PROFILE</a>
                    </li>
                    <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item" href="./settings">SETTINGS</a>
                    </li>
                    <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item" href="./logout">LOGOUT</a>
                    </li>
                    <li>
                        <a class="page-scroll nav-item" href="./help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="font-size:110%;"></span></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <section class="primary-section search-section text-center">
        <div class="container top-container">
          <div class="row" ng-hide="newSignupsHide">
            <div class="col-lg-8 col-lg-offset-2">
              <h1>Complete Tutoring Sessions</h1>
              <h2>Count: <span class="badge alert-orange-badge">{{ students.length }}</span></h2>
            </div>
          </div>
        </div>
    </section>

    <section class="primary-section text-center thin-padding">
        <div class="container">
          <div class="row" ng-hide="newSignupsHide">
            <div class="col-lg-10 col-lg-offset-1">
              <div class="row text-center" ng-repeat="purchase in students" ng-init="purchaseIndex=$index">
                <!-- <div class="col-sm-6 col-sm-offset-3" > -->
                  <div class="panel panel-primary drop-shadow">
                    <div class="panel-heading">
                      <div class="row text-center">
                        <div class="col-sm-4 text-left">
                          <h3 class="thin-margin">{{purchase.date | date:'MMM dd, yyyy' : 'PST'}}</h3>
                        </div>
                        <div class="col-sm-4 text-center">
                          <h2 class="thin-margin"> <u>{{ purchase.formData.firstName  }} {{ purchase.formData.lastName }}</u> </h2>
                        </div>
                        <div class="col-sm-4 text-right">
                          <p class="thin-margin"> Phone # {{ purchase.formData.phone }}</p>
                          <p class="thin-margin"> E-mail: {{ purchase.formData.email }}</p>
                          <p class="thin-margin"> School: {{ purchase.formData.school }}</p>
                        </div>

                      </div>


                    </div>
                    <div class="panel-body text-center" ng-hide="false">
                      <!-- <h4 class="text-center">Purchase Date</h4> -->

                      <h4>Student Goals: <b>{{ purchase.formData.goals }}</b> </h4>
                      <hr>

                      <div ng-repeat="package in purchase.cart" ng-init="cartIndex=$index">
                        <div ng-repeat="assignment in package.assignedTutors" ng-init="assignmentIndex=$index">
                          <div class="well text-left" ng-hide="(assignment.tutorID != myTutorID)">
                            <div class="row">
                              <div class="col-sm-6">
                                <h2>Total Hours Purchased:  <b>{{package.hours}}</b> </h2>
                              </div>
                              <div class="col-sm-6 text-right">
                                <h2>Your Hours <b>{{assignment.assignedHours}}</b> </h2>
                              </div>
                            </div>
                            <hr>
                            <!-- Start Sessions -->
                            <div class="row text-left">
                              <div class="col-sm-6">
                                <p class="thin-margin" ng-hide="!(item.onlineTutorSession=='true')">Type: <b>Online Tutoring</b></p>
                                <p class="thin-margin" ng-hide="(item.onlineTutorSession=='true')">Type: <b>In-Person Tutoring</b></p>
                                <!-- <h4>Online Tutoring Session: {{package.onlineTutorSession}}</h4> -->
                                <p class="thin-margin">Charge Rate: <b>${{package.hourlyRate}} per hour</b></p>
                              </div>
                              <div class="col-sm-6">
                                <p class="thin-margin">Subject: <b>{{package.subjectCategory}}</b></p>
                                <p class="thin-margin">Class: <b>{{package.class}}</b></p>
                              </div>
                            </div>

                            <br>
                            <!-- End Sessions -->
                          </div>
                        </div>
                        <h2>Logged Hours</h2>
                        <hr>
                        <div class="row thin-margin">
                          <div class="col-sm-4">
                            <p>Tutor Name</p>
                          </div>
                          <div class="col-sm-3">
                            <p>Date</p>
                          </div>
                          <div class="col-sm-3">
                            <p>Class</p>
                          </div>
                          <div class="col-sm-2">
                            <p>Hours</p>
                          </div>
                        </div>
                        <div ng-repeat="log in package.loggedHours" class="borderLog">
                          <div class="col-sm-4">
                            <p>#{{$index+1}} {{log.tutorFirstName}} {{log.tutorLastName}}</p>
                          </div>
                          <div class="col-sm-3">
                            <p>{{log.date}}</p>
                          </div>
                          <div class="col-sm-3">
                            <p>{{log.class}}</p>
                          </div>
                          <div class="col-sm-2">
                            <p>{{log.hours}}</p>
                          </div>
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
    </section>



    <div class="row text-center">
        <p class="copyright">&copy 2018 Badass Tutors. All Rights Reserved.</p>
    </div>



    <!-- LOADING MODAL -->
    <div class="modal" id="loadingModal" tabindex="-5" role="dialog" aria-labelledby="myModalLabel" ng-class="loadingClass">
      <div class="modal-dialog loading-modal" role="document">
        <div class="modal-content">
          <div class="modal-body text-center loading-modal">
            <div class="row">
              <br>
              <h1>Uploading...</h1>
              <h2>Kick-back and have a deep breath.</h2>
              <img src="/public/images/np_hammock.png" class="img-responsive center-block" alt="">
            </div>
            <div class="row">
              <div class="col-xs-12  loading-center">
                <div class="loader center-block"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </body>

</html>
