<!DOCTYPE html>
<html lang="en" ng-app="badassTutors">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>password reset</title>
    <link rel="icon" href="/public/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/public/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/manageTutors.css">
    <link rel="stylesheet" href="/public/stylesheets/customCheckToggle.css">

    <!-- SPELLS -->
    <script src="/public/javascripts/jquery.min.js"></script><!-- load jquery -->
    <script src="/public/javascripts/angular.min.js"></script><!-- load angular js 1.0.8 -->
    <script src="https://cdn.ravenjs.com/3.24.0/raven.min.js" crossorigin="anonymous"></script>

    <!-- Angular App -->
    <script src="/public/angular/tutor/passwordReset.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>

  <body ng-controller="mainController">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class style="color:#fff;"="fa fa-bars"></i>
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </button>
                <h1 class="navbar-brand">
                    Badass Tutors
                </h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!-- <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item active-nav" href="./tutors">TUTORS</a>
                    </li>
                    <li style="padding-left:5px; padding-right:5px;">
                        <a class="page-scroll nav-item" href="./purchases">PURCHASES</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- How to Get Started -->
    <section class="primary-section text-center">
        <div class="container top-container">

          <div class="row text-left">
            <div class="col-md-6 col-md-offset-3">
              <div class="text-center">
                <br>
                <br>
                <br>
                <h1>Password Reset</h1>
                <hr>
                <h2>Can't remember your password? </h2>
                <br>
                <br>
                <h3>No worries!</h3>
                <h4>Just enter your email and we will send you a new password.</h4>
              </div>

              <hr>
              <!-- error message -->
              <h1>
                <span class="label label-danger center-block" ng-hide="!errorMessage"> {{errorMessage}}</span>
              </h1>

              <!-- LOGIN FORM -->
              <form>
                  <h2>Email:</h2>
                  <div class="input-group-lg">
                      <input type="text" class="form-control" name="email" ng-model="email">
                  </div>
                  <br>
                  <br>
                  <div class="text-center">
                      <button type="submit" class="btn btn-danger btn-lg" ng-disabled="!(email)" ng-click="submitForm()">Reset Password</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    </section>


    <div class="row text-center">
        <p class="copyright">&copy 2018 Badass Tutors. All Rights Reserved.</p>
    </div>

    <!-- Success MODAL -->
    <div class="modal" id="loadingModal" tabindex="-5" role="dialog" aria-labelledby="myModalLabel" ng-class="successModalClass">
      <div class="modal-dialog loading-modal" role="document">
        <div class="modal-content">
          <div class="modal-body text-center loading-modal">
            <div class="row">
              <br>
              <br>
              <h1 style="font-size:400%;">Success!</h1>
              <img src="/public/images/np_check.png" class="img-responsive center-block" alt="" style="max-width:130px;">
              <br>

              <br>
              <br>

              <h2>Check your email for your fresh organically generated password.</h2>
              <img src="/public/images/np_password.svg" class="img-responsive center-block" alt="">
              <br>
            </div>
            <div class="row">
              <div class="col-sm-4  col-sm-offset-4">
                <button type="button" class="btn btn-success btn-lg btn-block" ng-click="loginLink()">
                  LOGIN
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
